<!DOCTYPE html>
<html lang="en">
  <%- include('./Partials/head.ejs') %>
  <body>
    <%- include('./Partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
        quisquam neque quae perferendis sapiente! Vel, eligendi hic eos cum
        consequuntur saepe est necessitatibus accusantium consequatur optio sint
        delectus vero. Sunt?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
        quisquam neque quae perferendis sapiente! Vel, eligendi hic eos cum
        consequuntur saepe est necessitatibus accusantium consequatur optio sint
        delectus vero. Sunt?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
        quisquam neque quae perferendis sapiente! Vel, eligendi hic eos cum
        consequuntur saepe est necessitatibus accusantium consequatur optio sint
        delectus vero. Sunt?
      </p>
    </div>
  </body>
  <%- include('./Partials/footer.ejs') %>
</html>
